@mixin layout($padding, $shadow) {
  box-shadow: $shadow;
  transition: all 0.5s ease-out;
  padding: $padding;
}
.container {
  @include layout(20px, 0 4px 8px 0 rgba(0, 0, 0, 0.38));
  width: 35%;
  text-align: center;
  margin: 8% 25% 0% 30%;
  background-color: white;
  border-radius: 5px;
  img {
    @include layout(6px, 0px 0px 0px #afa8ba);
    width: 50px;
    margin: 25px;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  p {
    color: #404a3c;
  }
}
.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  .related {
    width: 80%;
  }
}
.container3 {
  display: flex;
  justify-content: center;
  padding-right: 46%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  ul {
    width: 5%;

    li {
      font-size: 14px;
      display: inline;
      margin: auto;
      color: white;
      margin: 15%;
      cursor: pointer;
      background-color:teal;
      padding: 40%;
      border-radius: 5px;
    }
  }
}
