.errorMessage {
  border: 2px solid #dd2727;
  color: #dd2727;
  padding: 8px;
  width: 335px;
  margin-left: 75px;
  margin-top: 8px;
}
.loadingMessage {
  color: #133fb8;
  padding: 8px;
  font-size: 20px;
  width: 335px;
  margin-left: 75px;
  margin-top: 5px;
}
