.link {
  color: #646564;
  text-decoration: none;
  margin-right: 20px;
}

.link:hover {
  color: #48494a;
  text-decoration: underline;
}

.right {
  margin-right: auto;
  margin-left: auto;
}

.left {
  margin-left: 55px;
}
