.reported-article {
  padding-top: 20px;
  table {
    td {
      padding: 20px 40px 20px 20px;
      border-bottom: 1px solid;
    }
    th {
      padding: 20px 40px 20px 20px;
      border-bottom: 1px solid;
    }
  }
}
